## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [32]:
import os
import numpy as np
import pandas as pd

In [33]:
# 設定 data_path
dir_data = './data/'

In [34]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [35]:
print(' row: ',app_train.shape[0],'\n','colums:',app_train.shape[1])

 row:  307511
 colums: 122

#### 列出所有欄位

In [36]:
for i in app_train.columns:
    print(i)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [37]:
app_train.iloc[1:5,4:9]

  FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT
1            N               N             0          270000.0   1293502.5
2            Y               Y             0           67500.0    135000.0
3            N               Y             0          135000.0    312682.5
4            N               Y             0          121500.0    513000.0

In [38]:
app_train.loc[:,'TARGET':'AMT_GOODS_PRICE']

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE
0,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,351000.0
1,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,1129500.0
2,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,135000.0
3,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,297000.0
4,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,513000.0
5,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,454500.0
6,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,1395000.0
7,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,1530000.0
8,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,913500.0
9,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,405000.0
10,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,652500.0
11,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,135000.0
12,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,67500.0
13,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,697500.0
14,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,679500.0
15,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,247500.0
16,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,387000.0
17,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,270000.0
18,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,157500.0
19,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,454500.0
20,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,427500.0
21,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,927000.0
22,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,450000.0
23,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,225000.0
24,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,247500.0
25,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,225000.0
26,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,702000.0
27,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,270000.0
28,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,675000.0
29,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,180000.0
...,...,...,...,...,...,...,...,...,...,...
307481,1,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,297000.0
307482,0,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,472500.0
307483,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,225000.0
307484,0,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,450000.0
307485,0,Revolving loans,F,N,Y,1,270000.000,180000.0,9000.0,180000.0
307486,0,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,270000.0
307487,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,936000.0
307488,0,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,135000.0
307489,1,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,450000.0
307490,0,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,135000.0
307491,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,900000.0
307492,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,1575000.0
307493,0,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,765000.0
307494,0,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,450000.0
307495,0,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,675000.0
307496,0,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,337500.0
307497,0,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,193500.0
307498,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,1125000.0
307499,0,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,225000.0
307500,0,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,1138500.0
307501,0,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,225000.0
307502,0,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,225000.0
307503,0,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,247500.0
307504,0,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,225000.0
307505,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,225000.0
307506,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,225000.0
307507,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,225000.0
307508,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,585000.0
307509,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,319500.0
307510,0,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,675000.0

In [39]:
app_train.ix[5:8,'NAME_CONTRACT_TYPE':'FLAG_OWN_REALTY']

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
5         Cash loans           M            N               Y
6         Cash loans           F            Y               Y
7         Cash loans           M            Y               Y
8         Cash loans           F            N               Y

In [40]:
app_train[['NAME_CONTRACT_TYPE','FLAG_OWN_CAR']].head()

  NAME_CONTRACT_TYPE FLAG_OWN_CAR
0         Cash loans            N
1         Cash loans            N
2    Revolving loans            Y
3         Cash loans            N
4         Cash loans            N

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子